<!-- The h1 element is used to display the main heading of the "About Maze Runner" section -->
<h1 id="about-header">About Maze Runner</h1>

<!-- The p element is used to display a paragraph of text.
     The "info" class is used to apply a specific styling to the paragraph. -->
<p id="about-paragraph" class="info">
  An algorithm for finding a way out of a maze uploaded as an image. The shortest path is then calculated on the server
  and the answer is returned as an image. Optionally, in a later stage we want to include a browser-based maze build
  tool for painting the maze. The shortest path should then be displayed directly in the build tool.</p>
