<mat-toolbar id="navbar-toolbar" color="primary" class="flex-container mat-elevation-z4">


  <div>
    <img id="navbar-logo" src="../../assets/logo.png" alt="logo" width="40" height="40">
  </div>

  <div uitestid="app-title">
    <a id="navbar-header">Maze Runner</a>
  </div>

  <div>
    <a id="navbar-button-home" mat-button routerLink="" uitestid="nav-home">Home</a>
    <a id="navbar-button-builder" mat-button routerLink="builder" uitestid="nav-builder">Builder</a>
    <a id="navbar-button-colorpicker" mat-button routerLink="colorpicker" uitestid="nav-colorpicker">Colorpicker</a>
    <a id="navbar-button-about" mat-button routerLink="about" uitestid="nav-about">About</a>
  </div>

</mat-toolbar>
