.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbar-header{
  font-size: x-large;
}

#navbar-left{
  width: 33.33333%;
}

#navbar-center{
  width: 33.33333%;
  text-align: center;
}

#navbar-right{
  width: 33.33333%;
}

#navbar-right2{
  float:right;
}
