<!--Changed version of this tutorial: https://www.techgeeknext.com/angular-upload-image-->
<div class="container">

  <br>

  <h1>Maze Upload</h1>

  <br>

  <form>

    <!-- Used this tutorial: https://stackblitz.com/edit/ngx-dropzone?file=src%2Fapp%2Fapp.component.html    -->
    <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'">
      <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-image-preview *ngIf="uploadImage" [file]="uploadImage" [removable]="true" (removed)="onRemove($event)">
        <ngx-dropzone-label>{{ uploadImage.name }} ({{ uploadImage.type }})</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </ngx-dropzone>

    <br>

    <div class="form-group" >
      <input uitestid="solve-maze" type="button" [disabled]="!uploadImage" (click)="imageUploadAction()" value="Solve Maze" class="btn1">
    </div>

    <br>

    <h2>RGB Value of the Wall:</h2>
    <p><input type="text" id="rgbvaluewall" name="rgbvaluewall" [(ngModel)]="rgbvaluewall"></p>

    <h2>RGB Value of the Obstacle:</h2>
    <p><input type="text" id="rgbvalueobstacle" name="rgbvalueobstacle" [(ngModel)]="rgbvalueobstacle"></p>

    <br>

    <div>
      <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
    </div>

    <!-- Display the error message if it exists -->
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <br>

    <div *ngIf="showPopup">
      <div class="popup-overlay">
        <div class="popup-content">
          <img [src]="solvedMaze" alt="Solved Maze">
          <br>
          <button (click)="downloadImage()">Download Image</button>
          <button (click)="showPopup = false">Close</button>
        </div>
      </div>
    </div>

  </form>
</div>





