<!--Changed version of this tutorial: https://www.techgeeknext.com/angular-upload-image-->
<div class="container">

  <br>

  <h1>Maze Upload</h1>

  <br>

  <form>

    <!-- Used this tutorial: https://stackblitz.com/edit/ngx-dropzone?file=src%2Fapp%2Fapp.component.html    -->
    <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'">
      <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-image-preview *ngIf="uploadImage" [file]="uploadImage" [removable]="true" (removed)="onRemove($event)">
        <ngx-dropzone-label>{{ uploadImage.name }} ({{ uploadImage.type }})</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </ngx-dropzone>

    <br>

    <div class="form-group">
      <input type="button" *ngIf="uploadImage" (click)="imageUploadAction()" value="Solve Maze" class="btn1" uitestid="solve-maze">
    </div>

    <br>

    <div>
      <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
    </div>

    <br>
    <h2>RGB Value of the Wall:</h2>
    <p><input type="text" id="rgbvaluewall" name="rgbvaluewall" [(ngModel)]="rgbvaluewall"></p>

    <h2>RGB Value of the Obstacle:</h2>
    <p><input type="text" id="rgbvalueobstacle" name="rgbvalueobstacle" [(ngModel)]="rgbvalueobstacle"></p>

    <br>

    <div *ngIf=solvedMaze >
      <img [src]="solvedMaze" alt="Solved Maze" style="max-height:300px;max-width:300px;height:auto;width:auto;">
    </div>

  </form>
</div>





