<!-- This code creates the footer element for the webpage.
     It includes a copyright notice and a link to the University of Klagenfurt's homepage. -->

<div id="footer" class="footer">

  <!-- The left section of the footer contains the copyright notice -->
  <div id="footer-left" uitestid="footer-copyright">

    <!-- The copyright notice includes a link to the source of the maze icon, which is hosted on Flaticon -->
    <span id="footer-left-span">&copy; 2022/23 Maze Runner / Maze icon created by <a id="footer-left-span-link" href="https://www.flaticon.com/free-icons/maze"
                                                                                     title="maze icons" target="_blank" uitestid="icon-source">Freepik</a></span>
  </div>

  <!-- The right section of the footer contains a link to the University of Klagenfurt's homepage -->
  <div id="footer-right" uitestid="footer-authors">

    <!-- The link to the homepage includes the name of the university and the department of informatics -->
    <span id="footer-right-span"><a id="footer-right-span-link" href="https://www.aau.at/" target="_blank" uitestid="uni-homepage">University of Klagenfurt</a> / Informatics / ASE</span>

  </div>
</div>
