<div class="footer">
  <div uitestid="footer-copyright">
    <span>&copy; 2022/23 Maze Runner / Maze icon created by <a href="https://www.flaticon.com/free-icons/maze"
                                                               title="maze icons" target="_blank" uitestid="icon-source">Freepik</a></span>
  </div>
  <div uitestid="footer-authors">
    <span><a href="https://www.aau.at/" target="_blank" uitestid="uni-homepage">University of Klagenfurt</a> / Informatics / ASE</span>
  </div>
</div>
