<div id="footer" class="footer">
  <div id="footer-left">
    <span id="footer-left-span">&copy; 2022/23 Maze Runner / Maze icon created by <a id="footer-left-span-link" href="https://www.flaticon.com/free-icons/maze"
                                                               title="maze icons" target="_blank">Freepik</a></span>
  </div>
  <div id="footer-right">
    <span id="footer-right-span"><a id="footer-right-span-link" href="https://www.aau.at/" target="_blank">University of Klagenfurt</a> / Informatics / ASE</span>
  </div>
</div>
